# Logs de Suricata
suricata/logs/

# Carpeta de trabajo de Kali
kali/work/

suricata/logs/
suricata/rules/**
!suricata/rules/local.rules
!suricata/rules/README.md
!suricata/rules/classification.config
suricata/config/classification.config
suricata/config/reference.config
suricata/config/threshold.config