############################################
# DNS (BIND) en dns (172.30.0.10)
############################################

define service{
  use                     generic-service
  host_name               dns
  service_description     DNS Forward A - suricata
  check_command           check_dns_srv!suricata.assr.local!172.30.0.10
  check_interval          1
  retry_interval          1
}

define service{
  use                     generic-service
  host_name               dns
  service_description     DNS Recursion externo
  check_command           check_dns_srv!example.com!172.30.0.10
  check_interval          3
  retry_interval          1
}

define service{
  use                     generic-service
  host_name               dns
  service_description     DNS Reverse PTR 172.30.0.30
  check_command           check_dns_ptr!172.30.0.30!172.30.0.10!suricata.assr.local.
  check_interval          3
  retry_interval          1
}

define service{
  use                     generic-service
  host_name               dns
  service_description     DNS TCP 53
  check_command           check_tcp_port!53
  check_interval          5
  retry_interval          1
}

############################################
# HTTP del panel de Nagios (en la red interna es 80)
############################################

define service{
  use                     generic-service
  host_name               nagios
  service_description     HTTP_UI_port_80
  check_command           check_tcp_port!80
  check_interval          1
  retry_interval          1
}

############################################
# Suricata: fast.log fresco (requiere el volumen /suricata_logs)
############################################

define service{
  use                     generic-service
  host_name               suricata
  service_description     Suricata fastlog fresh
  check_command           check_file_fresh!"C:/Users/Gabriel Salas/Documents/Espol/Nivel 300 - I/ASSR/Proyecto_ASSR/Proyecto_Infraestructura_Coporativa/suricata/logs/fast.log"!120!300
  check_interval          1
  retry_interval          1
}
