# DNS con 2 argumentos: 1) nombre a resolver  2) servidor DNS
define command{
  command_name    check_dns_srv
  command_line    /opt/nagios/libexec/check_dns -H $ARG1$ -s $ARG2$
}

# PTR usando dig: 1) IP  2) servidor DNS  3) FQDN esperado (con punto final si aplica)
define command{
  command_name    check_dns_ptr
  command_line    /bin/sh -c "/usr/bin/dig +short -x $ARG1$ @$ARG2$ | grep -qi -- \"$ARG3$\""
}

# HTTP con host y IP y puerto como argumentos
define command{
  command_name    check_http_hostip
  command_line    /opt/nagios/libexec/check_http -H $ARG1$ -I $ARG2$ -p $ARG3$
}

# TCP genérico por puerto
define command{
  command_name    check_tcp_port
  command_line    /opt/nagios/libexec/check_tcp -H $HOSTADDRESS$ -p $ARG1$
}

# Archivo reciente: 1) ruta  2) warn(seg)  3) crit(seg)
define command{
  command_name    check_file_fresh
  command_line    /opt/nagios/libexec/check_file_age -f $ARG1$ -w $ARG2$ -c $ARG3$
}
